.bg-gray {
  background-color: #1a2633 !important;
}

.bg-silver {
  background-color: #cfd8dc !important;
}

.light-blue {
  color: #3bd2b2 !important;
}

.bg-light-blue {
  background-color: #3bd2b2 !important;
}

.bg-white {
  background-color: white;
}

.white {
  color: white;
}

.gray {
  color: #1a2633;
}

.red {
  color: red;
}

.silver {
  color: #cfd8dc !important;
}

.light-gray {
  color: gray;
}
